./**/node_modules
./Queensman-Admin-Web-deploy-ready/node_modules
./Queensman-Admin-Web-deploy-ready/.expo
./Queensman-Client-master/.expo
./Queensman-Client-master/pc-api-7791283037387343716-422-fb9c22271fbf.json
.nhost
.DS_Store
.env.development
api/node_modules
nmig
packager-info.json
Queensman-Client-master/.expo/packager-info.json
.DS_Store
web-build
.nhost
api/node_modules
admin-panel/workspace.code-workspace
