<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455672297185-q9cum0r6tle4cm3c7ungq2o3c0gom0jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455672297185-q9cum0r6tle4cm3c7ungq2o3c0gom0jp</string>
	<key>API_KEY</key>
	<string>AIzaSyBKdz8dkwKVbXqk5a1UjZz6IBAwiA6FO40</string>
	<key>GCM_SENDER_ID</key>
	<string>455672297185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techinoviq.QueensmenClient</string>
	<key>PROJECT_ID</key>
	<string>queensman-client-app</string>
	<key>STORAGE_BUCKET</key>
	<string>queensman-client-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455672297185:ios:f078d54ecc210e7c0da9a0</string>
</dict>
</plist>